asgiref==3.10.0
dj-database-url==3.0.1
Django==5.2.7
django-filter==25.2
django-redis
djangorestframework==3.16.1
fontawesomefree==6.6.0
packaging==25.0
python-dotenv==1.1.1
sqlparse==0.5.3
typing_extensions==4.15.0
whitenoise==6.11.0