{% extends "speechdb/results.html" %}

{% block title %}Authors{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Name</th><th>Language</th><th>Works</th></tr>
  </thead>
  <tbody>
    {% for author in object_list %}
    <tr>
      <td>{{ author.name }}<a style="margin-left:0.5em" href="{% url 'app:author_detail' author.public_id %}">
              <i class="fa-solid fa-circle-info"></i>
          </a></td>
			<td>{{ author.langs }} </td>
			<td>{{ author.work_count }}
      <a style="margin-left: 1em" href="{% url 'app:speeches' %}?author_pubid={{ author.public_id }}">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
			</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block sidebar_content %}
<form action="{% url 'app:authors' %}" method="GET">
  <div class="card small">
    <div class="card-header" id="hdr_work">
      <span>Text Properties</span>
    </div>
    <div class="card-body">
			<div class="form-group">
				<div class="row">
					<div class="col">
						{{ text_form.lang.label_tag }}
						{{ text_form.lang }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ text_form.work_title.label_tag }}
						{{ text_form.work_title }}
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
      <div class="row justify-content-around">
          <button type="submit" class="btn btn-primary btn-sm w-25" >Search</button>
          <a class="btn btn-secondary btn-sm w-25"  href="{% url 'app:works' %}">Reset</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}