{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static 'speechdb/style.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'speechdb/dices.png' %}"/>
	<style type="text/css">
		.uniform-badge {
		    display: inline-block; /* Allows alignment of text and icon */
		    justify-content: left; /* Centers the content horizontally */
		    width: 120px; /* Set a consistent width */
		    height: auto; /* Adjust height automatically */
		    text-align: center; /* Ensures proper text alignment */
		}
	</style>
    <title>{% block title %}DICES{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'app:index' %}">
          DICES
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% block navbar %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:speeches' %}">Speeches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:clusters' %}">Speech Clusters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:characters' %}">Characters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:instances' %}">Character Instances</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:authors' %}">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:works' %}">Works</a>
            </li>
          </ul>
        </div>
        {% endblock %}
      </div>
    </nav>
    <div id="content" style="padding:20px;">
    {% block body %}
    {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>