{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'speechdb/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <title>{% block title %}DICES{% endblock %}</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'speechdb/bootstrap/js/bootstrap.js' %}"></script>

    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'app:index' %}">
          DICES
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% block navbar %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="link-drpdn-speeches" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Speeches</a>
              <div class="dropdown-menu" aria-labelledby="link-drpdn-speeches">
                <a class="dropdown-item" href="{% url 'app:speech_search' %}">Search</a>
                <a class="dropdown-item" href="{% url 'app:speeches' %}">Show all</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="link-drpdn-chars" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Characters</a>
              <div class="dropdown-menu" aria-labelledby="link-drpdn-chars">

              <a class="dropdown-item" href="{% url 'app:character_search' %}">Search</a>
              <a class="dropdown-item" href="{% url 'app:characters' %}">Show all</a>
            </li>
          </ul>
        </div>
        {% endblock %}
      </nav>
    </div>
    <div id="content" style="padding:20px;">
    {% block body %}
    {% endblock %}
    </div>
  </body>
</html>