{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>{% block title %}DICES{% endblock %}</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'app:index' %}">
          DICES
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% block navbar %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="link-drpdn-speeches" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Speeches</a>
              <div class="dropdown-menu" aria-labelledby="link-drpdn-speeches">
                <a class="dropdown-item" href="{% url 'app:speech_search' %}">Search</a>
                <a class="dropdown-item" href="{% url 'app:speeches' %}">Show all</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="link-drpdn-chars" href="#" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Characters</a>
              <div class="dropdown-menu" aria-labelledby="link-drpdn-chars">

              <a class="dropdown-item" href="{% url 'app:character_search' %}">Search</a>
              <a class="dropdown-item" href="{% url 'app:characters' %}">Show all</a>
            </li>
          </ul>
        </div>
        {% endblock %}
      </div>
    </nav>
    <div id="content" style="padding:20px;">
    {% block body %}
    {% endblock %}
    </div>
  </body>
</html>