{% extends "speechdb/results.html" %}

{% block title %}Character Instances{% endblock %}
{% block sidebar_title %}Character Instances{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Name</th><th>Instance of</th><th>Disguise</th><th>Context</th><th>Speaker</th><th>Addressee</th>
  </thead>
  <tbody>
    {% for inst in object_list %}
    <tr>
      <td>
        {{ inst.name }}
        <a href="{% url 'app:instance_detail' inst.public_id %}">
          <i class="fa-solid fa-circle-info"></i>
        </a>
      </td>
      <td>
        {% if inst.char %}
        {{ inst.char.name }}
        <a href="{% url 'app:character_detail' inst.char.public_id %}">
          <i class="fa-solid fa-circle-info"></i>
        </a>
        {% endif %}
      </td>
      <td>{% if inst.disguise %} {{ inst.disguise }}{% endif %}</td>
      <td>{{ inst.context }}</td>      
      <td>
        {% if inst.speeches__count > 0 %}
        {{ inst.speeches__count }}
        <a style="margin-left:1em" href="{% url 'app:speeches' %}?spkr_inst_id={{ inst.pk }}">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        {% endif %}
      </td>
      <td>
        {% if inst.addresses__count > 0 %}
        {{ inst.addresses__count }}
        <a style="margin-left:1em" href="{% url 'app:speeches' %}?addr_inst_id={{ inst.pk }}">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block filters %}
  <div class="card small">
    <div class="card-header" id="hdr_instance">
      <span>Instance Properties</span>
    </div>
    <div class="card-body">
			{% include "speechdb/default_form.html" with form=instance_form %}
    </div>
  </div>
  <div class="card small">
    <div class="card-header" id="hdr_addressee">
      <span>Character</span>
    </div>
    <div class="card-body">
			{% include "speechdb/default_form.html" with form=character_form %}
    </div>
  </div>
{% endblock %}