{% extends "speechdb/results.html" %}

{% block title %}Characters{% endblock %}
{% block sidebar_title %}Characters{% endblock %}


{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Name</th><th>Gender</th><th>Number</th><th>Being</th><th>Speaker</th><th>Addressee</th><th>WikiData ID</th><th>MANTO ID</tr>
  </thead>
  <tbody>
    {% for c in page_obj %}
    <tr>
      <td>
        {{ c.name }}
        <a href="{% url 'app:character_detail' c.id %}">
          <i class="fa-solid fa-circle-info"></i>
        </a>
      </td>
      <td>{{ c.gender }}</td>
      <td>{{ c.number }}</td>
      <td>{{ c.being }}</td>
      <td>
        {% if c.instances__speeches__count > 0 %}
        <a href="{% url 'app:speeches' %}?spkr_id={{ c.pk }}">
        {{ c.instances__speeches__count }}
        </a>
        {% else %}
        —
        {% endif %}
      </td>
      <td>
        {% if c.instances__addresses__count > 0 %}
        <a href="{% url 'app:speeches' %}?addr_id={{ c.pk }}">
        {{ c.instances__addresses__count }}
        </a>
        {% else %}
        —
        {% endif %}
      </td>
      <td><a href="https://www.wikidata.org/wiki/{{ c.wd }}">{{ c.wd }}</a></td>
      <td>
        {% if c.manto %}
        <a href="https://yayalu.github.io/greekgraphs/#/datacards?id={{ c.manto }}">{{ c.manto }}</a>
        {% else %}
        {{ c.manto }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}