{% extends "speechdb/results.html" %}

{% block title %}Characters{% endblock %}
{% block sidebar_title %}Characters{% endblock %}
{% block sidebar_desc %}
<p>
  Core identities of speakers and addressees. External ID columns link to entries in the respective databases.
</p>
{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Name</th><th>WikiData ID</th><th>MANTO ID</tr>
  </thead>
  <tbody>
    {% for c in page_obj %}
    <tr>
      <td>{{ c.name }}</td>
      <td><a href="https://www.wikidata.org/wiki/{{ c.wd }}">{{ c.wd }}</a></td>
      <td>
        {% if c.manto %}
        <a href="https://yayalu.github.io/greekgraphs/#/datacards?id={{ c.manto }}">{{ c.manto }}</a>
        {% else %}
        {{ c.manto }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}