{% extends "speechdb/base_nosidebar.html" %}

{% block title %}Character Instance Detail{% endblock %}

{% block content %}
<div class="accordion">
    <div class="accordion-item">
        <h4 class="accordion-header" style="padding:20px 20px">Character Instance  Detail</h4>
        <div class="accordion-body">
            <table class="table">
                <tbody>
                    <tr>
											<td>ID</td>
                      <td>{{ inst.id }}</td>
											<td></td>
										</tr>
                    <tr>
                        <td>name</td>
                        <td>{{ inst.name }}</td>
												<td></td>
                    </tr>
										<tr>
											<td>context</td>
											<td>{{ inst.context }}</td>
											<td></td>
										</tr>
										<tr>
											<td>instance of</td>
											<td>
												{% if inst.char %}
                          {{inst.char.name}}
												{% else %}
												—
												{% endif %}
											</td>
											<td>
												{% if inst.char %}
                            <a href="{% url 'app:character_detail' inst.char.pk %}">
                              <i class="fa-solid fa-circle-info"></i> see character detail
                            </a>
												{% endif %}
											</td>
										</tr>
										{% if inst.disguise %}
										<tr>
											<td>disguise</td>
											<td>{{ inst.disguise }}</td>
											<td></td>
										</tr>
										{% endif %}
                    <tr>
                        <td>gender</td>
                        <td>{{ inst.gender }}</td>
												<td>
													{% if inst.char %}
													{% if inst.gender != inst.char.gender %}
													⚠️ differs from character
													{% endif %}
													{% endif %}
												</td>
                    </tr>
                    <tr>
                        <td>number</td>
                        <td>{{ inst.number }}</td>
												<td>
													{% if inst.char %}
													{% if inst.number != inst.char.number %}
													⚠️ differs from character
													{% endif %}
													{% endif %}
												</td>
                    </tr>
                    <tr>
                        <td>being</td>
                        <td>{{ inst.being }}</td>
												<td>
													{% if inst.char %}
													{% if inst.being != inst.char.being %}
													⚠️ differs from character
													{% endif %}
													{% endif %}
												</td>
												
                    </tr>
                    <tr>
                        <td>speeches as speaker</td>
                        <td>
                            {{ inst.speeches.count }}
													</td>
													<td>
                            <a href="{% url 'app:speeches' %}?spkr_inst_id={{ inst.pk }}">
                                <i class="fa-solid fa-magnifying-glass"></i> see speeches
                            </a>
                        </td>
                  </tr>
                  <tr>
                      <td>speeches as addressee</td>
                      <td>
                          {{ inst.addresses.count }}
												</td>
												<td>
                          <a href="{% url 'app:speeches' %}?addr_inst_id={{ inst.pk }}">
                                <i class="fa-solid fa-magnifying-glass"></i> see speeches
                          </a>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   {% if inst.char %}

		{% endif %}
</div>
{% endblock %}