{% extends "speechdb/base_sidebar.html" %}

{% block title %}Characters{% endblock %}
{% block sidebar_title %}Characters{% endblock %}

{% block sidebar_content %}
<p>
  Core identities of speakers and addressees. External ID columns link to entries in the respective databases.
</p>
{% endblock %}

{% block content %}
<form action="{% url 'app:characters' %}" method="GET">
  <div class="form-group">
    <label for="sel_name">Name</label>
    <select class="form-control" id="sel_name" name="name">
      <option value="" selected="selected">-----</option> 
      {% for c in characters %}
      <option value="{{ c.name }}">{{ c.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="sel_gender">Gender</label>
    <select class="form-control" id="sel_gender" name="gender">
      <option value="" selected="selected">-----</option>
      {% for k, v in character_gender_choices %}
      <option value="{{ k }}">{{ v }}</option>
      {% endfor %}                                            
    </select>
  </div>
  <div class="form-group">
    <label for="sel_being">Being</label>
    <select class="form-control" id="sel_being" name="being">
      <option value="" selected="selected">-----</option>
      {% for k, v in character_being_choices %}
      <option value="{{ k }}">{{ v }}</option>
      {% endfor %}                                            
    </select>
  </div>
  <div class="form-group">
    <label for="sel_number">Number</label>
    <select class="form-control" id="sel_number" name="number">
      <option value="" selected="selected">-----</option>
      {% for k, v in character_number_choices %}
      <option value="{{ k }}">{{ v }}</option>
      {% endfor %}                                            
    </select>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
{% endblock %}