{% extends "speechdb/base_nosidebar.html" %}

{% block title %}Character Instance Detail{% endblock %}
  <div style="margin-top:1em;"><strong>Detail</strong></div>

{% block content %}
<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">Character instance  detail</h2>
        <div class="accordion-body">
            <table>
                <tbody>
                    <tr>
                        <th>
                          {{ inst.name }}                          
                          {% if inst.char %}
                            {% if inst.char.name != inst.name %}
                            ({{ inst.char.name }})
                            {% endif %}
                          {% endif  %}
                        </th>
                    </tr>
                    <tr>
                        <td>{{ inst.context }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h4 class="accordion-header">Attributes</h4>
        <div class="accordion-body">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <th>Instance</th>
                        <th>Character</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>name</td>
                        <td>{{inst.name}}</td>
                        <td>
                          {% if inst.char %}
                          {{inst.char.name}}
                            <a style="margin-left: 0.5em" href="{% url 'app:character_detail' inst.char.pk %}">
                              <i class="fa-solid fa-circle-info"></i>
                            </a>                          
                          {% else %}
                          —
                          {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>gender</td>
                        <td>{{inst.gender}}</td>
                        <td>
                          {% if inst.char %}
                          {{inst.char.gender}}
                          {% else %}
                          —
                          {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>number</td>
                        <td>{{inst.number}}</td>
                        <td>
                          {% if inst.char %}                          
                          {{inst.char.number}}
                          {% else %}
                          —
                          {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>speeches as speaker:</td>
                        <td>
                            {{ inst.speeches.count }}
                            <a style="margin-left: 1em" id="btn_spkr" href="{% url 'app:speeches' %}?spkr_inst={{ inst.pk }}">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </td>
                        <td>
                            {% if inst.char %}
                            {{ inst.speeches_by_char.count }}
                            <a style="margin-left: 1em" id="btn_spkr" href="{% url 'app:speeches' %}?spkr_id={{ inst.char.pk }}">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                          {% else %}
                          —
                          {% endif %}
                      </td>
                  </tr>
                  <tr>
                      <td>speeches as addressee:</td>
                      <td>
                          {{ inst.addresses.count }}
                          <a style="margin-left: 1em" id="btn_addr" href="{% url 'app:speeches' %}?addr_inst={{ inst.pk }}">
                                <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                      </td>
                      <td>
                          {% if inst.char %}                        
                          {{ inst.addresses_by_char.count }}
                          <a style="margin-left: 1em" id="btn_addr" href="{% url 'app:speeches' %}?addr_id={{ inst.char.pk }}">
                                <i class="fa-solid fa-magnifying-glass"></i>                              
                          </a>
                          {% else %}
                          —
                          {% endif %}
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}