{% extends "speechdb/base_sidebar.html" %}

{% block title %}Characters{% endblock %}
{% block sidebar_title %}Characters{% endblock %}

{% block sidebar_content %}
<p>
  Core identities of speakers and addressees. External ID columns link to entries in the respective databases.
</p>
{% endblock %}

{% block content %}
<form action="{% url 'app:characters' %}" method="GET">
  <div class="form-group">
    <label for="sel_name">Name</label>
    <select class="form-control" id="sel_name" name="name">
      <option value="" selected="selected">-----</option>
      {% for c in characters %}
      <option value="{{ c.name }}">{{ c.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
{% endblock %}