{% extends "speechdb/results.html" %}

{% block title %}Character Instances{% endblock %}
{% block sidebar_title %}Character Instances{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Name</th><th>Character</th><th>Disguise</th><th>Context</th><th>Anon</th><th>Speaker</th><th>Addressee</th>
  </thead>
  <tbody>
    {% for inst in page_obj %}
    <tr>
      <td>
        {{ inst.name }}
        <a href="{% url 'app:instance_detail' inst.pk %}">
          <i class="fa-solid fa-circle-info"></i>
        </a>
      </td>
      <td>
        {% if inst.char %}
        {{ inst.char.name }}
        <a href="{% url 'app:character_detail' inst.char.pk %}">
          <i class="fa-solid fa-circle-info"></i>
        </a>
        {% endif %}
      </td>
      <td>{% if inst.disguise %} {{ inst.disguise }}{% endif %}</td>
      <td>{{ inst.context }}</td>      
      <td>{% if inst.anon %}Yes{% else %}No{% endif %}</td>
      <td>
        {% if inst.speeches__count > 0 %}
        {{ inst.speeches__count }}
        <a style="margin-left:1em" href="{% url 'app:speeches' %}?spkr_inst_id={{ inst.pk }}">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        {% endif %}
      </td>
      <td>
        {% if inst.addresses__count > 0 %}
        {{ inst.addresses__count }}
        <a style="margin-left:1em" href="{% url 'app:speeches' %}?addr_inst_id={{ inst.pk }}">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block sidebar_content %}
<form action="{% url 'app:instances' %}" method="GET">
  <div class="card small">
    <div class="card-header" id="hdr_instance">
      <span>Instance</span>
    </div>
    <div class="card-body">
      <label for="sel_char_name">Name</label>
      <select class="form-control form-control-sm" id="sel_name" name="name">
        <option value="">-----</option> 
        {% for name in names %}
        <option value="{{ name }}" {% if params.name == name %} selected="selected" {% endif %}>{{ name }}</option>
        {% endfor %}
      </select>
      <label for="sel_gender">Gender</label>
      <select class="form-control form-control-sm" id="sel_gender" name="gender">
        <option value="" >-----</option>
        {% for k, v in character_gender_choices %}
        <option value="{{ k }}" {% if params.gender == k %} selected="selected" {% endif %}>{{ v }}</option>
        {% endfor %}                                            
      </select>
      <label for="sel_being">Being</label>
      <select class="form-control form-control-sm" id="sel_being" name="being">
        <option value="" >-----</option>
        {% for k, v in character_being_choices %}
        <option value="{{ k }}" {% if params.being == k %} selected="selected" {% endif %}>{{ v }}</option>
        {% endfor %}                                            
      </select>
      <label for="sel_number">Number</label>
      <select class="form-control form-control-sm" id="sel_number" name="number">
        <option value="" >-----</option>
        {% for k, v in character_number_choices %}
        <option value="{{ k }}" {% if params.number == k %} selected="selected" {% endif %}>{{ v }}</option>
        {% endfor %}                                            
      </select>
      <label for="sel_anon">Anonymous</label>
      <select class="form-control form-control-sm" id="sel_anon" name="anon">
        <option value="" >-----</option>
        <option value="true" {% if params.anon %} selected="selected" {% endif %}>Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  </div>
  <div class="card small">
    <div class="card-header" id="hdr_addressee">
      <span>Character</span>
    </div>
    <div class="card-body">
      <label for="sel_char_name">Name</label>
      <select class="form-control form-control-sm" id="sel_char_name" name="char_name">
        <option value="">-----</option> 
        {% for c in characters %}
        <option value="{{ c.name }}" {% if params.char_name == c.name %} selected="selected" {% endif %}>{{ c.name }}</option>
        {% endfor %}
      </select>
      <label for="sel_char_gender">Gender</label>
      <select class="form-control form-control-sm" id="sel_char_gender" name="char_gender">
        <option value="" >-----</option>
        {% for k, v in character_gender_choices %}
        <option value="{{ k }}" {% if params.char_gender == k %} selected="selected" {% endif %}>{{ v }}</option>
        {% endfor %}                                            
      </select>
      <label for="sel_char_being">Being</label>
      <select class="form-control form-control-sm" id="sel_char_being" name="char_being">
        <option value="" >-----</option>
        {% for k, v in character_being_choices %}
        <option value="{{ k }}" {% if params.char_being == k %} selected="selected" {% endif %}>{{ v }}</option>
        {% endfor %}                                            
      </select>
      <label for="sel_char_number">Number</label>
      <select class="form-control form-control-sm" id="sel_char_number" name="char_number">
        <option value="" >-----</option>
        {% for k, v in character_number_choices %}
        <option value="{{ k }}">{{ v }}</option>
        {% endfor %}                                            
      </select>
    </div>
    <div class="card-footer">
      <div class="row justify-content-around">
          <button type="submit" class="btn btn-primary btn-sm w-25" >Search</button>
          <a class="btn btn-secondary btn-sm w-25"  href="{% url 'app:instances' %}">Reset</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}