{% extends "speechdb/base_sidebar.html" %}

{% block title %}DICES{% endblock %}
{% block sidebar_title %}DICES{% endblock %}
{% block sidebar_content %}
<p>Database prototype</p>
<ul>
  <li><strong>{{ speeches.count }}</strong> speeches</li>
  <li><strong>{{ characters.count }}</strong> characters</li>
  <li><strong>{{ works.count }}</strong> texts</li>
</ul>

{% endblock %}

{% block content %}
<div class="jumbotron">
  <h5>A Database of Direct Speech in Greek and Latin Epic from Homer to Late Antiquity</h5>
  <p>
    This prototype was built during the pandemic summer of 2020. Our work was supported by a President's Research and Creative Activity grant from Mount Allison University, including funding from the Crake Foundation.
  </p>
  <strong>Database and Interface</strong>
    <p>Chris Forstall, Mount Allison University, Canada.</p>
  <strong>Data</strong>
    <p>Simone Finkmann, University of Rostock, Germany<br />
      Berenice Verhelst, Ghent University, Belgium</p>
  <strong>Student Research Assistants</strong>
    <p>Dawson Fraser, Mount Allison University, Canada <br/>
      Ava Waugh, Mount Allison University, Canada</p>
</div>
{% endblock %}