{% extends "speechdb/base_sidebar.html" %}

{% block title %}DICES{% endblock %}
{% block sidebar_title %}DICES{% endblock %}
{% block sidebar_content %}
<p>Database prototype</p>
<ul>
  <li><strong>{{ speeches.count }}</strong> speeches</li>
  <li><strong>{{ characters.count }}</strong> characters</li>
  <li><strong>{{ works.count }}</strong> texts</li>
</ul>

{% endblock %}

{% block content %}
<div class="jumbotron">
  <h5>A Database of Direct Speech in Greek and Latin Epic from Homer to Late Antiquity</h5>
    
  <div style="margin: 2em 0em">
    <p><strong>Principal Investigators</strong></p>
    <ul style="list-style-type:none; margin:0; padding:0">
      <li>Christopher Forstall, Mount Allison University, Canada</li>
      <li>Simone Finkmann, University of Rostock, Germany</li>
      <li>Berenice Verhelst, University of Amsterdam, Netherlands</li>
    </ul>
  </div>

  <div style="margin: 2em 0em">
    <p><strong>Student Research Assistants</strong></p>
    <ul style="list-style-type:none; margin:0; padding:0">
      <li>Jule Andreeßen</li>
      <li>Yonathan Bernhardt</li>
      <li>Mathijs Clement</li>
      <li>Dawson Fraser</li>
      <li>Merle Kallet</li>
      <li>Anne Lautenschlager</li>
      <li>Wyatt Stagg</li>
      <li>Annik Tiede</li>
      <li>Marie Kisser</li>
      <li>Vic Vandendriessche</li>
      <li>Jarno Vercamer</li>
      <li>Ava Waugh</li>
    </ul>
  </div>
    
  <div style="margin: 2em 0em">
    <p><strong>Funding</strong></p>
    <p>This work is supported by</p>
    <ul>
      <li>
        a President's Research and Creative Activity
        grant from Mount Allison University
      </li>
      <li>
        the <a href="http://jeacrakefoundation.org/">J.E.A. Crake Foundation</a>
      </li>
      <li>
        a research grant from the <a href="https://www.inf.uni-rostock.de/wissen-kultur-transformation/">
        Interdisciplinary Faculty (Department WKT: Wissen-Kultur-Transformation)</a>
        at the University of Rostock
      </li>
      <li>
        the European Social Fund (ESF) for Germany
      </li>
      <li>
        the Research Foundation Flanders (FWO, grant no. 12N6819N)
      </li>
      <li>
        the Canadian Social Sciences and Humanities Research Council
        (Insight Development Grant no. 430-2021-00977)
      </li>
    </ul>
  </div>
</div>
{% endblock %}