{% extends "speechdb/results.html" %}

{% block title %}Speech Clusters{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Loci</th><th>Parts</th><th>Participants</th></tr>
  </thead>
  <tbody>
    {% for cl in object_list %}
    <tr>
      <td>{{ cl.get_loc_str }}
          <a style="margin-left:0.5em" href="{% url 'app:cluster_detail' cl.public_id %}">
              <i class="fa-solid fa-circle-info"></i>
          </a>
         {% if cl.get_urn %}          
          <a style="margin-left:0.5em" href="{{ reader }}{{ cl.get_urn }}">
              <i class="fa-solid fa-up-right-from-square"></i>
          </a>
          {% endif %}          
      </td>
      <td style="text-align:right; min-width:8em;">
        {{ cl.speech_count }}
        <a style="margin-left:1em" href="{% url 'app:speeches' %}?cluster_pubid={{ cl.public_id }}">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </td>
      <td style="max-width:40em">{{ cl.get_chars_str }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block filters %}
  <div class="card small mb-2">
    <div class="card-header" id="hdr_speaker">
      <span>Speaker Properties</span>
    </div>
    <div class="card-body" id="collapse_speaker" aria-labelledby="hdr_speaker">
			{% include "speechdb/default_form.html" with form=spkr_character_form %}
    </div>
  </div>
  <div class="card small mb-2">
    <div class="card-header" id="hdr_addressee">
      <span>Addressee Properties</span>
    </div>
    <div class="card-body" id="collapse_addressee" aria-labelledby="hdr_addressee">
			{% include "speechdb/default_form.html" with form=addr_character_form %}
    </div>
  </div>
  <div class="card small mb-2">
    <div class="card-header">
      <span>Conversation properties</span>
    </div>
		<div class="card-body">
			{% include "speechdb/speech_form.html" with form=speech_form %}
		</div>
  </div>
  <div class="card small mb-2">
    <div class="card-header">
      <span>Text properties</span>
    </div>
    <div class="card-body">
			{% include "speechdb/default_form.html" with form=text_form %}
    </div>
  </div>
{% endblock %}