{% extends "speechdb/results.html" %}

{% block title %}Speeches{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Locus</th>
      <th>Speaker</th>
      <th>Addressee</th>
      <th>Type</th>
      <th style="width:6em">Turn</th>
      <th>Tags</th>
      <th>Embedded</th>
    </tr>
  </thead>
  <tbody>
    {% for s in page_obj %}
    <tr>
      <td>
          {{ s.work.get_long_name }} {{ s.l_fi }}—{{ s.l_la }}
          {% if s.get_urn %}
          <a style="margin-left:0.5em" href="{{ reader }}{{ s.get_urn }}">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>          
          {% endif %}
      </td>
      <td>
        {% for inst in s.spkr.all %}
        <div>
          {{ inst.name }}
          <a style="margin-left:0.5em" href="{% url 'app:instance_detail' inst.id %}">
              <i class="fa-solid fa-circle-info"></i>
          </a>
        </div>
        {% endfor %}
      </td>
      <td>
        {% for inst in s.addr.all %}
        <div>
            {{ inst.name }}            
            <a style="margin-left:0.5em" href="{% url 'app:instance_detail' inst.id %}">
                <i class="fa-solid fa-circle-info"></i>            
            </a>
        </div>
        {% endfor %}
      </td>
      <td>
        {{ s.type }}
      </td>
      <td>
          {{ s.part }} of {{ s.cluster.speeches.count }}
          <a style="margin-left: 1em" href="{% url 'app:cluster_detail' s.cluster.id %}">
              <i class="fa-solid fa-circle-info"></i>
          </a>
      </td>
      <td class="small">
        {% for tag in s.tags.all %}
          <span class="badge bg-secondary">{{ tag.get_type_display }}</span><br>
        {% endfor %}
      </td>
      <td>
        {{ s.level }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block sidebar_content %}
<form action="{% url 'app:speeches' %}" method="GET">
  <div class="card small">
    <div class="card-header" id="hdr_speaker">
      <span>Speaker Properties</span>
    </div>
    <div class="card-body" id="collapse_speaker" aria-labelledby="hdr_speaker">
			{% include "speechdb/default_form.html" with form=spkr_character_form %}
    </div>
  </div>
  <div class="card small">
    <div class="card-header" id="hdr_addressee">
      <span>Addressee Properties</span>
    </div>
    <div class="card-body" id="collapse_addressee" aria-labelledby="hdr_addressee">
			{% include "speechdb/default_form.html" with form=addr_character_form %}
    </div>
  </div>
  <div class="card small">
    <div class="card-header">
      <span>Conversation properties</span>
    </div>
		<div class="card-body">
			{% include "speechdb/speech_form.html" with form=speech_form %}
		</div>
  </div>
  <div class="card small">
    <div class="card-header">
      <span>Text properties</span>
    </div>
    <div class="card-body">
			{% include "speechdb/default_form.html" with form=text_form %}
    </div>
    <div class="card-footer">
      <div class="row justify-content-around">
          <button type="submit" class="btn btn-primary btn-sm w-25" >Search</button>
          <a class="btn btn-secondary btn-sm w-25"  href="{% url 'app:speeches' %}">Reset</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}