{% extends "speechdb/base_nosidebar.html" %}

{% block title %}Speech Cluster Detail{% endblock %}

{% block content %}
<div class="accordion">
    <div class="accordion-item">
        <h4 class="accordion-header" style="padding:20px 20px">Speech Cluster Detail</h4>
        <div class="accordion-body">
            <table>
                <tbody>
                    <tr>
                        <th colspan="2">
                          {{ cluster.work.get_long_name }} {{ cluster.speeches.first.l_fi }}—{{ cluster.speeches.last.l_la }}                      
                        </th>
                    </tr>
                    <tr>
						<td>ID</td>
						<td>{{ cluster.pk }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h5 class="accordion-header" style="padding:20px 20px">Speeches</h5>
        <div class="accordion-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Part</th>
                <th>Locus</th>
                <th>Speaker</th>
                <th>Addressee</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              {% for s in cluster.speeches.all %}
            <tr>
              <td>{{ s.part }}</td>
              <td>
                {{ s.work.get_long_name }} {{ s.l_fi }}—{{ s.l_la }}
                {% if s.get_urn %}
                  <a style="margin-left:0.5em" href="{{ reader }}{{ s.get_urn }}">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  </a>
                {% endif %}
              </td>
              <td>
                {% for inst in s.spkr.all %}
                  <div>
                    {{ inst.name }}
                    <a href="{% url 'app:instance_detail' inst.id %}">
                      <i class="fa-solid fa-circle-info"></i>
                    </a>
                  </div>
                {% endfor %}
              </td>
              <td>
                {% for inst in s.addr.all %}
                  <div>
                    {{ inst.name }}
                    <a href="{% url 'app:instance_detail' inst.id %}">
                      <i class="fa-solid fa-circle-info"></i>
                    </a>
                  </div>
                {% endfor %}
              </td>
              <td>
                {{ s.type }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}