{% extends "speechdb/results.html" %}

{% block title %}Speeches{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Locus</th>
      <th>Speaker</th>
      <th>Addressee</th>
      <th>Type</th>
      <th style="width:6em">Turn</th>
      <th>Tags</th>
      <th>Embedded</th>
    </tr>
  </thead>
  <tbody>
    {% for s in object_list %}
    <tr>
      <td>
          {{ s.work.get_long_name }} {{ s.l_fi }}—{{ s.l_la }}
          <a style="margin-left:0.5em" href="{% url 'app:speech_detail' s.public_id %}">
              <i class="fa-solid fa-circle-info"></i>
          </a>
          {% if s.get_urn %}
          <a style="margin-left:0.5em" href="{{ reader }}{{ s.get_urn }}">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>          
          {% endif %}
      </td>
      <td>
        {% for inst in s.spkr.all %}
        <div>
          {{ inst.display }}
          <a style="margin-left:0.5em" href="{% url 'app:instance_detail' inst.public_id %}">
              <i class="fa-solid fa-circle-info"></i>
          </a>
        </div>
        {% endfor %}
      </td>
      <td>
        {% for inst in s.addr.all %}
        <div>
            {{ inst.display }}            
            <a style="margin-left:0.5em" href="{% url 'app:instance_detail' inst.public_id %}">
                <i class="fa-solid fa-circle-info"></i>            
            </a>
        </div>
        {% endfor %}
      </td>
      <td>
        {{ s.type }}
      </td>
      <td>
          {{ s.part }} of {{ s.cluster_size }}
          <a style="margin-left: 1em" href="{% url 'app:cluster_detail' s.cluster.public_id %}">
              <i class="fa-solid fa-circle-info"></i>
          </a>
      </td>
      <td class="small">
        {% for tag in s.tags.all %}
          <span class="badge bg-secondary">{{ tag.get_type_display }}</span><br>
        {% endfor %}
      </td>
      <td>
        {{ s.level }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block filters %}
  <div class="card small mb-2">
			<div class="card-header d-flex align-items-center justify-content-between">
	    <span>Speaker</span>
	    <ul class="nav nav-tabs card-header-tabs" id="spkrTab" role="tablist">
	      <li class="nav-item" role="presentation">
					<button class="nav-link" id="spkrTabChar" data-bs-toggle="tab" data-bs-target="#spkr-char-pane" type="button" role="tab">Character</button>
	      </li>
	      <li class="nav-item" role="presentation">
					<button class="nav-link active" id="spkrTabInst" data-bs-toggle="tab" data-bs-target="#spkr-inst-pane" type="button" role="tab">Instance</button>
	      </li>
	    </ul>
    </div>
    <div class="card-body tab-content" id="collapse_speaker" aria-labelledby="hdr_speaker">
			<div class="tab-pane fade" id="spkr-char-pane" role="tabpanel" aria-labelledby="spkrTabChar">
			{% include "speechdb/default_form.html" with form=spkr_character_form %}
			</div>
			<div class="tab-pane fade show active" id="spkr-inst-pane" role="tabpanel" aria-labelledby="spkrTabInst">
			{% include "speechdb/default_form.html" with form=spkr_instance_form %}
			</div>
    </div>
  </div>
  <div class="card small mb-2">
    <div class="card-header d-flex align-items-center justify-content-between">
      <span>Addressee</span>
			<ul class="nav nav-tabs card-header-tabs" id="addrTab" role="tablist">
		      <li class="nav-item" role="presentation">
						<button class="nav-link" id="addrTabChar" data-bs-toggle="tab" data-bs-target="#addr-char-pane" type="button" role="tab">Character</button>
		      </li>
		      <li class="nav-item" role="presentation">
						<button class="nav-link active" id="addrTabInst" data-bs-toggle="tab" data-bs-target="#addr-inst-pane" type="button" role="tab">Instance</button>
		      </li>
		    </ul>
    </div>
    <div class="card-body tab-content" id="collapse_addressee" aria-labelledby="hdr_addressee">
			<div class="tab-pane fade" id="addr-char-pane" role="tabpanel" aria-labelledby="addrTabChar">
			{% include "speechdb/default_form.html" with form=addr_character_form %}
			</div>
			<div class="tab-pane fade show active" id="addr-inst-pane" role="tabpanel" aria-labelledby="addrTabInst">
			{% include "speechdb/default_form.html" with form=addr_instance_form %}
			</div>
    </div>
  </div>
  <div class="card small mb-2">
    <div class="card-header">
      <span>Conversation properties</span>
    </div>
		<div class="card-body">
			{% include "speechdb/default_form.html" with form=speech_form %}
		</div>
  </div>
  <div class="card small mb-2">
    <div class="card-header">
      <span>Text properties</span>
    </div>
    <div class="card-body">
			{% include "speechdb/default_form.html" with form=text_form %}
    </div>
  </div>
{% endblock %}