{% extends "speechdb/results.html" %}

{% block title %}Speeches{% endblock %}
{% block sidebar_title %}Speeches{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Locus</th><th>Speaker</th><th>Addressee</th><th>Cluster</th><th>Part</th></tr>
  </thead>
  <tbody>
    {% for s in page_obj %}
    <tr>
      <td><a href="{{ reader }}{{ s.get_urn }}">{{ s.cluster.work.get_long_name }} {{ s.l_fi }}—{{ s.l_la }}</a></td>
      <td>{{ s.get_spkr_str }}</td>
      <td>{{ s.get_addr_str }}</td>
      <td>{{ s.cluster.get_long_type }}</td>
      <td>{{ s.part }}</td>      
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}