{% extends "speechdb/results.html" %}

{% block title %}Speech Clusters{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Loci</th><th>Parts</th><th>Participants</th></tr>
  </thead>
  <tbody>
    {% for c in page_obj %}
    <tr>
      <td>{{ c.get_loc_str }}
          <a style="margin-left:0.5em" href="{% url 'app:cluster_detail' c.pk %}">
              <i class="fa-solid fa-circle-info"></i>
          </a>
         {% if c.get_urn %}          
          <a style="margin-left:0.5em" href="{{ reader }}{{ c.get_urn }}">
              <i class="fa-solid fa-up-right-from-square"></i>
          </a>
          {% endif %}          
      </td>
      <td style="text-align:right; min-width:8em;">
        {{ c.speeches.count }}
        <a style="margin-left:1em" href="{% url 'app:speeches' %}?cluster_id={{ c.pk }}">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </td>
      <td style="max-width:40em">{{ c.get_chars_str }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block sidebar_content %}
<form action="{% url 'app:clusters' %}" method="GET">
  <div class="card small">
    <div class="card-header" id="hdr_speaker">
      <span>Speaker Properties</span>
    </div>
    <div class="card-body" id="collapse_speaker" aria-labelledby="hdr_speaker">
			{% include "speechdb/default_form.html" with form=spkr_character_form %}
    </div>
  </div>
  <div class="card small">
    <div class="card-header" id="hdr_addressee">
      <span>Addressee Properties</span>
    </div>
    <div class="card-body" id="collapse_addressee" aria-labelledby="hdr_addressee">
			{% include "speechdb/default_form.html" with form=addr_character_form %}
    </div>
  </div>
  <div class="card small">
    <div class="card-header">
      <span>Conversation properties</span>
    </div>
		<div class="card-body">
			{% include "speechdb/speech_form.html" with form=speech_form %}
		</div>
  </div>
  <div class="card small">
    <div class="card-header">
      <span>Text properties</span>
    </div>
    <div class="card-body">
			{% include "speechdb/default_form.html" with form=text_form %}
    </div>
    <div class="card-footer">
      <div class="row justify-content-around">
          <button type="submit" class="btn btn-primary btn-sm w-25" >Search</button>
          <a class="btn btn-secondary btn-sm w-25"  href="{% url 'app:speeches' %}">Reset</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}