{% extends "speechdb/base_sidebar.html" %}

{% block title %}Speech Cluster Detail{% endblock %}
{% block sidebar_title %}Speech Cluster {{ cluster.pk }}{% endblock %}
{% block sidebar_content %}
  <div style="margin-top:1em;"><strong>Detail</strong></div>
    <div>Work: {{ cluster.work.get_long_name }}</div>
    <div>Loci: {{ cluster.speech_set.first.l_fi }}—{{ cluster.speech_set.last.l_la }}</div>
    <div>Cluster Type: {{ cluster.get_type_display }}</div>
    <div>Parts: {{ cluster.speech_set.count }}</div>
    <div>Characters: {{ cluster.get_chars_str }}</div>
{% endblock %}

{% block content %}
<div>
<table class="table table-striped">
  <thead>
    <tr><th>Part</th><th>Locus</th><th>Speaker</th><th>Addressee</th></tr>
  </thead>
  <tbody>
    {% for s in cluster.speech_set.all %}
    <tr>
      <td>{{ s.part }}</td>
      <td><a href="{{ reader }}{{ s.get_urn }}">{{ cluster.work.get_long_name }} {{ s.l_fi }}—{{ s.l_la }}</a></td>
      <td>{{ s.get_spkr_str }}</td>
      <td>{{ s.get_addr_str }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}