{% extends "speechdb/results.html" %}

{% block title %}Speech Clusters{% endblock %}
{% block sidebar_title %}Speech Clusters{% endblock %}
{% block sidebar_desc %}
<p>
  Clusters group speeches related by a common continuous interaction between characters.
</p>
{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Loci</th><th>Type</th><th>Parts</th><th>Characters</th></tr>
  </thead>
  <tbody>
    {% for c in page_obj %}
    <tr>
      <td>{{ c.work.get_long_name }} {{ c.speech_set.first.l_fi }}—{{ c.speech_set.last.l_la }}</a></td>
      <td>{{ c.get_long_type }}</td>
      <td style="text-align:right">
        <a href="{% url 'app:search' %}?cluster_id={{ c.pk }}">{{ c.speech_set.count }}</a>
      </td>
      <td>{{ c.get_chars_str }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}