<div class="row">
	<div class="col">
		{{ form.type.label_tag }}
		{{ form.type }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ form.tags.label_tag }}
		{{ form.tags }}
	</div>
</div>
<div class="row mt-2">
	<div class="col-sm-7">
		{{ form.part.label_tag }}
	</div>
	<div class="col-sm-5">
		{{ form.part }}
	</div>
</div>
<div class="row mt-2">
	<div class="col">
		{{ form.n_parts.label_tag }}
	</div>
	<div class="col-sm-5">
		{{ form.n_parts }}
	</div>
</div>
<div class="row mt-2">
	<div class="col-sm-7">
		{{ form.level.label_tag }}
	</div>
	<div class="col-sm-5">
		{{ form.level }}
	</div>
</div>