{% extends "speechdb/results.html" %}

{% block title %}Works{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Author</th><th>Title</th><th>Speeches</th><th>Character Instances</th></tr>
  </thead>
  <tbody>
    {% for work in object_list %}
    <tr>
      <td>
				{{ work.author.name }}
        <a style="margin-left:0.5em" href="{% url 'app:author_detail' work.author.public_id %}">
            <i class="fa-solid fa-circle-info"></i>
        </a>
			</td>
      <td>
				{{ work.title }}
        <a style="margin-left:0.5em" href="{% url 'app:work_detail' work.public_id %}">
            <i class="fa-solid fa-circle-info"></i>
        </a>
			</td>
      <td>
        {{ work.speech__count }}
        <a style="margin-left: 0.5em" href="{% url 'app:speeches' %}?work_id={{work.pk}}">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>        
      </td>
      <td>
      	{{ work.speech__spkr__count }}
        <a style="margin-left: 0.5em" href="{% url 'app:instances' %}?work_id={{work.pk}}">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>        
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block sidebar_content %}
<form action="{% url 'app:works' %}" method="GET">
  <div class="card small">
    <div class="card-header" id="hdr_work">
      <span>Source Properties</span>
    </div>
    <div class="card-body">
		{% include "speechdb/default_form.html" with form=text_form %}
    </div>
    <div class="card-footer">
      <div class="row justify-content-around">
          <button type="submit" class="btn btn-primary btn-sm w-25" >Search</button>
          <a class="btn btn-secondary btn-sm w-25"  href="{% url 'app:works' %}">Reset</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}