{% extends "speechdb/results.html" %}

{% block title %}Works{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Author</th><th>Title</th><th>Speeches</th><th>CTS URN</th><th>Wikidata ID</th></tr>
  </thead>
  <tbody>
    {% for work in page_obj %}
    <tr>
      <td>{{ work.author.name }}</td>
      <td>{{ work.title }}</td>      
      <td>
        {{ work.speech_set.count }}
        <a style="margin-left: 0.5em" href="{% url 'app:speeches' %}?work_id={{work.pk}}">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>        
      </td>
      <td>
        {% if work.urn %}
        {{ work.urn }}
        <a style="margin-left: 0.5em" href="https://catalog.perseus.org/catalog/{{ work.urn }}">
            <i class="fa-solid fa-up-right-from-square"></i>
        </a>
        {% endif %}
      </td>
      <td>
        {% if work.wd %}
          {{ work.wd }}
          <a style="margin-left: 0.5em" href="https://www.wikidata.org/wiki/{{ work.wd }}">
            <i class="fa-solid fa-up-right-from-square"></i>
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block sidebar_content %}
<form action="{% url 'app:works' %}" method="GET">
  <div class="form-group">
    <div class="card small">
      <div class="card-header" id="hdr_work">
        <span>Work</span>
      </div>
      <div class="card-body">
        <div class="form-group">
        <label for="sel_author">Author</label>
        <select class="form-control form-control-sm" id="sel_author" name="author">
          <option value="" selected="selected">-----</option> 
          {% for a in authors %}
          <option value="{{ a.id }}">{{ a.name }}</option>
          {% endfor %}
        </select>
        </div>
        <div class="form-group">
          <label for="sel_lang">Language</label>
          <select class="form-control form-control-sm" id="sel_lang" name="lang">
            <option value="" selected="selected">-----</option>
            {% for k,v in lang_choices %}
            <option value="{{ k }}">{{ v }}</option>
            {% endfor %}                                            
          </select>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">Search</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}