{% extends "speechdb/base_nosidebar.html" %}

{% block title %}Work Detail{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="accordion">
    <div class="accordion-item">
			<div class="accordion-header" style="padding: 20px 20px">
      <h4>Work Detail</h4>
			<small>Work {{ work.public_id }}</small>
      <div class="accordion-body">
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td>Author</td>
              <td>{{ work.author.name }}</td>
            </tr>
            <tr>
              <td>Title</td>
              <td>{{ work.title }}</td>
            </tr>
            <tr>
              <td>Language</td>
              <td>{{ work.lang }}</td>
            </tr>
            <tr>
              <td>CITE URN</td>
              <td>
                {% if work.urn %}
                {{ work.urn }}
                <a style="margin-left:0.5em" href="https://catalog.perseus.org/catalog/{{ work.urn }}">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>                  
                </a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>WikiData</td>
              <td>
                {% if work.wd %}
                {{ work.wd }}
                <a style="margin-left:0.5em" href="https://www.wikidata.org/wiki/{{ author.wd }}">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                {% endif %}
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>    
</div>
{% endblock %}