{% extends "speechdb/results.html" %}

{% block title %}Works{% endblock %}
{% block sidebar_title %}Works{% endblock %}
{% block sidebar_desc %}
<p>
  Epic texts
</p>
{% endblock %}

{% block results %}
<table class="table table-striped">
  <thead>
    <tr><th>Author</th><th>Title</th><th>Speeches</th><th>CTS URN</th><th>Wikidata ID</th></tr>
  </thead>
  <tbody>
    {% for work in page_obj %}
    <tr>
      <td>{{ work.author.name }}</td>
      <td>{{ work.title }}</td>      
      <td>
        {{ work.speech_set.count }}
        <a style="margin-left: 0.5em" href="{% url 'app:speeches' %}?work_id={{work.pk}}">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>        
      </td>
      <td>
        {% if work.urn %}
        {{ work.urn }}
        <a style="margin-left: 0.5em" href="https://catalog.perseus.org/catalog/{{ work.urn }}">
            <i class="fa-solid fa-up-right-from-square"></i>
        </a>
        {% endif %}
      </td>
      <td>
        {% if work.wd %}
          {{ work.wd }}
          <a style="margin-left: 0.5em" href="https://www.wikidata.org/wiki/{{ work.wd }}">
            <i class="fa-solid fa-up-right-from-square"></i>
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}