:root {
  --bs-primary: #2f3439;
  --bs-secondary: #5a6066;
}

html { height: 100%; }
body {
		height: 100%;
		overflow: hidden; 
}

#content {
		min-height: 0; 
		overflow: hidden; 
}
#resultsContainer { min-height: 0; }
#sidebarContainer { min-height: 0; }

a {
	text-decoration: none;
	color: black;
}

.uniform-badge {
    display: inline-block; /* Allows alignment of text and icon */
    justify-content: left; /* Centers the content horizontally */
    width: 120px; /* Set a consistent width */
    height: auto; /* Adjust height automatically */
    text-align: center; /* Ensures proper text alignment */
}
